body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: tomato;
    }
    .container {
        margin: 25px;
        padding-top: 20px;
        border: Goldenrod 2px solid;
        padding-bottom: 25px;
    }
    .my-cart {
        background-color: wheat;
        display: block;
        margin: auto 30px;
        max-width: 450px;
        padding: 20px;
        border-radius: 20px;
    }
    .header {
        text-align: center;
        margin: 0 auto 20px auto;
        color: black;
        font-size: 30px;
    }
    input[type=text] {
        width: 425px;
        padding: 10px;
    }
    .MyButton {
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        cursor: pointer;
    }
    .color-red {
        color: red;
    }